<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="indexStyle.css" />
    <title>Start</title>
  </head>
  <body>
    <h1>Get your perfect menu</h1>
    <h3>Select you culinary preference</h3>
    <ul class="language-list">
      <li><a href="/german"> Germany</a></li>
      <li><a href="/english"> England</a></li>
      <li><a href="/spanish"> Spain</a></li>
    </ul>
  </body>
</html>
