<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="indexStyle.css" />
    <title>Spanishtime</title>
  </head>
  <body>
    <h1>Get your perfect menu</h1>
    <h3>Welcome to spain</h3>
    <ul class="language-list">
      <li>Paella</li>
      <li>Cocido Madrileño</li>
      <li><a href="/"> Go back to main menu</a></li>
    </ul>
  </body>
</html>
